<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>TOP</title>
    <meta charset="utf-8">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="SVr5h47wWXSd6JWnICGyiGu/PoRSFxDF5o40iw6Bib3t475vXa0cdONAky6JGTIkvCe/f6EKkU44HXIyQ2rmVA==" />
    

    <link rel="stylesheet" media="all" href="/assets/application-3835ee6e9464fd692964c0c52375776373fc404cd8abf971835a021aa6bcca3f.css" data-turbolinks-track="reload" />
    <script src="/packs/js/application-dd6e88065a32b23f8e21.js" data-turbolinks-track="reload"></script>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  
    <%= stylesheet_link_tag "common", :media => "all" %>
    <%= stylesheet_link_tag "allpost", :media => "all" %>
    <%= stylesheet_link_tag "mypage", :media => "all" %>


  </head>
  <body><!--このbody要素の中に書きます-->


<br>
<br>
<br>
<br>
<br>

<h3>PROFILE<div class="mainunderline"></div></h3>
  <div class="profile2">
    <div class="leftside">

        <div class="pine2">
        <div class="card-w2 col-md-5">
        <div class="card2 neumorphism2">
        <div class="cardicon2">
                <p><span><i class="fas fa-user-circle"></i> <%= @user.name %></span></p><br>
          <div class="inprofile">
                <p><i class="fas fa-envelope"></i>　<%= @user.email %></p><br>
                <p><i class="fas fa-address-card"></i>　<div class="unit2"><%= @user.profile %></p><br>
                    <% if current_user.id == @user.id %>
                    <a href="/users/edit"><i class="fas fa-user-edit"></i>edit</a>
                    <% end %>
          </div>
                </div>
              </div>
            </div>
          </div>



    </div>
  </div>
</div>



<br>
<br>
<br>

<h3>MY POSTS<div class="mainunderline"></div></h3>


<div class="3posts">
<div class="pines-container">
<% @pines.each do |t| %>
<div class="pine">

<div class="container wrapper">
        <div class="card-w col-md-4">
        <div class="card neumorphism">
        <div class="cardicon">

    <div class="mainitem"><a href="/users/<%= t.user.id %>"><i class="fas fa-user-circle"></i> <%= t.user.name %></a></div><br>
    <p><%= image_tag t.image_url, size: "250x200" if t.image? %></p><br>
    <div class="title"><p><%= t.title %></p></div><br>
    <p>Name：<%= t.name %></p><br>
    <p><i class="fas fa-money-bill-wave-alt"></i> <%= t.price %></p><br>
    <p><i class="fas fa-map-marker-alt"></i> <%= t.place %></p><br>

    <p>　<%= t.address %></p><br>

        <div class="mainitem3">
                <% if user_signed_in? %>
                    <% if current_user.already_liked?(t) %> <%#いいね機能%>
                        <%= link_to pine_like_path(id: t.id, pine_id: t.id), method: :delete do %>
                            <i class="fas fa-heart"></i><%= t.likes.count %>
                        <% end %>
                    <% else %>
                        <%= link_to pine_likes_path(id: t.id, pine_id: t.id), method: :post do %>
                            <i class="far fa-heart"></i><%= t.likes.count %>
                        <% end %>
                        <% end %>
                    <% else %>
                    <i class="far fa-heart"></i><%= t.likes.count %>
                <% end %>   
        </div>


        <div class="mainitem2"><a><%= link_to "more", pine_path(t.id) %></a></div>

    <div class="delateitem"><a href="/pines/<%= t.id %>/edit"><i class="fas fa-edit"></i></a></div><br>
    <div class="edititem"><a rel="nofollow" data-method="delete" href="/pines/<%= t.id %>"> <i class="fas fa-trash"></i></a></div><br>
                  </div>
                </div>
          </div> 
          </div>
        </div>
<% end %>
</div>
</div>
  <div class="pagenationbutton">
    <%= paginate @pines %>
  </div>




<br>
<br>
<br>
<!-- 以下はいいね機能を実装している場合-->
<h3>LIKED<div class="mainunderline"></div></h3>

<div class="3posts">
<div class="pines-container">
<% @likes.each do |t| %>

<div class="pine">

<div class="container wrapper">
        <div class="card-w col-md-4">
        <div class="card neumorphism">
        <div class="cardicon">
    <div class="mainitem"><a href="/users/<%= t.user.id %>"><i class="fas fa-user-circle"></i> <%= t.user.name %></a></div><br>
    <p><%= image_tag t.image_url, size: "250x200" if t.image? %></p><br>
    <div class="title"><p><%= t.title %></p></div><br>
    <p>Name：<%= t.name %></p><br>
    <p><i class="fas fa-money-bill-wave-alt"></i> <%= t.price %></p><br>
    <p><i class="fas fa-map-marker-alt"></i> <%= t.place %></p><br>
    <p>　<%= t.address %></p><br>

    <div class="mainitem3">
        <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %> <%#いいね機能%>
                <%= link_to pine_like_path(id: t.id, pine_id: t.id), method: :delete do %>
                    <i class="fas fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% else %>
                <%= link_to pine_likes_path(id: t.id, pine_id: t.id), method: :post do %>
                    <i class="far fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% end %>
        <% else %>
            <i class="far fa-heart"></i><%= t.likes.count %>
    <% end %>    
</div>
    
    <div class="mainitem2"><a><%= link_to "more", pine_path(t.id) %></a></div>                        </div>
                </div>
          </div> 
          </div>
        </div>
<% end %>
</div>
</div>

    <div class="pagenationbutton">
      <%= paginate @likes %>
    </div>

<!-- ここまで-->
<br>
<br>
<br>

<footer></footer>
</body>
</html>